<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ICanDoThis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E760BAFB1D630253000B4BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E760BB141D630253000B4BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E760BB1F1D630253000B4BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
